aiohttp==3.8.1
aiosignal==1.2.0
appdirs==1.4.4
argcomplete==2.0.0
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
boto==2.49.0
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.1
charset-normalizer==2.0.10
click==8.0.4
cos-python-sdk-v5==1.9.14
coscmd==1.8.6.24
crcmod==1.7
cryptography==37.0.3
dataclasses==0.8
DateTime==4.4
dicttoxml==1.7.4
docopt==0.6.2
fasteners==0.17.3
filelock==3.4.1
flatbuffers==2.0
frozenlist==1.2.0
future==0.18.2
gcs-oauth2-boto-plugin==3.0
gensim==4.2.0
google-apitools==0.5.32
google-auth==2.9.0
google-reauth==0.1.1
graphsurgeon==0.4.5
gsutil==5.10
hdfs==2.6.0
httplib2==0.20.4
huggingface-hub==0.0.12
idna==3.3
idna-ssl==1.1.0
importlib-metadata==4.8.3
importlib-resources==5.4.0
jieba==0.42.1
joblib==1.1.0
Mako==1.1.6
MarkupSafe==2.0.1
monotonic==1.6
multidict==5.2.0
numpy==1.19.0
oauth2client==4.1.3
onnx==1.11.0
onnx-graphsurgeon==0.3.12
onnxruntime-gpu==1.10.0
packaging==21.3
pandas==1.1.5
partial==1.0
Pillow==8.4.0
pip==21.3.1
platformdirs==2.4.0
prettytable==2.5.0
protobuf==3.19.4
pure-sasl==0.6.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.12.0
pycuda==2022.1
PyHive==0.6.4
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyspark==2.4.5
python-dateutil==2.8.2
pytools==2022.1.12
pytz==2022.1
pyu2f==0.1.5
PyYAML==6.0
regex==2022.6.2
requests==2.26.0
retry-decorator==1.1.1
rsa==4.7.2
sacremoses==0.0.53
sasl==0.3.1
scikit-learn==0.24.2
scipy==1.5.4
setuptools==59.6.0
six==1.16.0
sklearn==0.0
smart-open==6.0.0
tensorrt==8.2.1.8
threadpoolctl==3.1.0
thrift==0.15.0
thrift-sasl==0.4.3
tikit==0.2.220704
timm==0.5.4
tokenizers==0.10.3
torch==1.7.0
torch2trt==0.3.0
torchvision==0.8.1
tqdm==4.64.0
transformers==4.8.1
typing_extensions==4.1.1
uff==0.6.9
urllib3==1.26.7
wcwidth==0.2.5
wheel==0.37.1
xgboost==1.5.2
yarl==1.7.2
zipp==3.6.0
zope.interface==5.4.0
