Chinese-Roberta-wwm-ext: https://huggingface.co/hfl/chinese-roberta-wwm-ext
Vit-Clip-B/16: https://openaipublic.azureedge.net/clip/models/5806e77cd80f8b59890b7e101eabd078d9fb84e6937f9e85e4ecb61988df416f/ViT-B-16.pt
